.list{
    color: rgb(8, 8, 8);
    width: 300px;
    background-color: pink;
    height: 50px;
    margin:20px auto ;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
}
.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.favicon{
    margin: 0 5px;
    font-size: 15px;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: antiquewhite;
    font-size:18px ;
}
.list p input:focus{
    outline: none;
}